* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #395a83;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
}

div {
  background-color: #659be2;
  margin: 20px;
  border: 3px solid #183973;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  padding: 10px;
  width: 100vw;
  height: 40px;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
